@font-face {
    font-family: 'Avenir Next';
    src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
}
@font-face {
    font-family: "AvenirNext";
    font-weight: normal;
    src: url('../fonts/AvenirNextLTPro-MediumCn.otf');
    src: local("AvenirNext"), url("../fonts/fonts/fonts/AvenirNextLTPro-MediumCn.otf") format("otf") ,url("../fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "AvenirNextBold";
    font-weight: bold;
    src: url('../fonts/AvenirNextLTPro-MediumCn.otf');
    src: local("AvenirNextBold"), url("../fonts/fonts/fonts/AvenirNextLTPro-MediumCn.otf") format("otf") ,url("../fonts/AvenirNextLTPro-MediumCn.otf");
}
/* ==================================== Header ==================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.txtMons{
    font-family: Montserrat;
}
.txtLibre{
    font-family: 'Libre Baskerville', serif;
}
.textHeader,.textHeader a{
    font-size: 12px;
    color: #130e49;
    font-family: Montserrat;
    opacity: 0.8;
    font-weight: 500;
}
.txtTeam{
    color: #13123f;
    font-family: Montserrat;
    font-weight: 550;
}
.colorB{
    color: #1a1945;
}
.navbar-nav li.active a,.navbar-nav li.active a{
    color: #0b3e81 !important;
    font-weight: 900;
    font-family: Montserrat;
}
.social_1,.social_2,.social_3{
    font-size: 16px !important;
}

.social_1:hover,.social_2:hover,.social_3:hover{
    opacity: 0.8;
}

.textHeader:hover,.textHeader a:hover{
    opacity: 1;
    cursor: pointer;
}
.hr{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    margin-top: 2px;
    margin-bottom: 0px;
}
.hr2{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.tabFil{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.tabLink .nav-link{
    color: #13123f;
    font-family: 'Libre Baskerville', serif;
}
.tabLink .nav-link.active{
    color: #13123f;
    font-weight: bold;
}
.rwFilter h6{
    font-weight: bold;
    font-size: 13px;
}
.textMedia{
    text-align: right;
}
.media .fa{
    color: gray;
}

.navbar-collapse{
    padding-left: 0.8rem;
}
.navbar .nav-item .nav-link{
    font-size: 11px;
    color: #130e49;
    opacity: 0.5;
    font-family: Montserrat;
    font-weight: bold;
}
.introduction h2{
    color: #13123f;
    font-size: 32px;
    font-family: Baskervville;
}
.introduction h5{
    color:#338cff;
    font-size: 12px;
}
.introduction h6{
    color: rgba(87, 76, 87, 0.667);
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
}
.btnBook{
    background-color: #338cff;
    color: white;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
    font-family: Montserrat;
}
.btnBook:hover{
    border: 1px solid #130e49;
    background-color: white;
    color: #130e49;
}
.form .btnBook{
    padding: 0.75rem;
}
.media p{
    font-size: 12px;
    font-family: Montserrat;
    color: #13123f;
    opacity: 0.5;
}
.willHover{
    padding: 1rem;
}
.willHover:hover{
    cursor: pointer;
    box-shadow: 0 8px 38px 7px rgba(0, 0, 0, 0.07), 0 9px 12px -5px rgba(0, 0, 0, 0.15);
}
.list-group .list-group-item{
    color: #125ec4;
    font-size: 13px;
}
@media screen and (min-width:800px){

    .card1{
        border-left: 0;
    }
    .card2{
        border-right: 0;
    }
}
.fertility h2{
    font-size: 33px;
    color: #13123f;
    font-weight: 500;
    line-height: 1.43;
    font-family: 'Libre Baskerville', serif;
}
.textPage{
    font-size: 14px;
    letter-spacing: 0.4px;
    opacity: 0.6;
    font-family: Montserrat;
    color: #13123f;
}
.txtH{
    color: #13123f;
    font-family: Montserrat;
}
.textPage2{
    font-size: 16px;
    letter-spacing: 0.4px;
    opacity: 0.6;
    font-family: Montserrat;
    color: #13123f;
}
.textPageSmall{
    font-size: 14px;
    /* letter-spacing: 0.4px; */
    opacity: 0.8;
    font-family: Montserrat;
    color: #13123f;
}
.textPageNos{
    font-size: 12px;
    /* letter-spacing: 0.4px; */
    opacity: 0.8;
    font-family: Montserrat;
    color: #13123f;
}
.txtMed{
    font-size: 13px;
    /* letter-spacing: 0.4px; */
    opacity: 0.8;
    font-family: Montserrat;
    color: #13123f;
}

.vl {
    margin-top: 15px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
    justify-content: center;
    border-left: 1px solid rgb(207, 196, 196);
    height: 70%;
    min-height: 70%;
}
.btn-outline-light{
    font-size: 12px;
    font-weight: bold;
    font-family: Montserrat;
    border: solid 1.4px #ffffff;
    border-radius: 3px;
    padding: 0.8rem 1rem;
}
.btn-outline-light:hover{
    color: #338cff;
    background-color: #ffffff
}
.card:hover {
    background-color: #eee;
    cursor: pointer;
    /* color: white; */
}
.card{
    border-radius: 6px;
}
.card-title{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #13123f;
}
.jumbotron{
    background-color: #338cff;
}
.jumbotron h4{
    font-family: 'Libre Baskerville', serif;
    font-size: 26px;
}
.jumbotron p{
    font-family: Montserrat;
    opacity: 0.8;
}
.contentText h4{
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.86;
    text-align: center;
    color: #13123f;
}
.footer h6{
    font-size: 11px;
    padding-top: 2rem;
    padding-bottom: 6px;
    font-weight: bold;
    color: #130e49;
}
.footer p {
    margin: 5px;
}
.footer p a{
    font-size: 12px;
    opacity: 0.6;
    font-weight: bold;
    color: #130e49;
}
.imgWidth{
    position: absolute;
    left: -145px;
    max-height: 462px;
    overflow: hidden;
    top: -18px;
    width: 122.5%;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    border-radius: 4px;
    box-shadow: 0 10px 49px 9px rgba(0, 0, 0, 0.07), 0 12px 16px -7px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.team .nav-pills .nav-link, .nav-pills .show>.nav-link{
    color: #06101c;
    font-weight: bold;
    opacity: 0.8;
}
.team .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #2e7ae0;
    border-radius: 25px;
    color: white;
}
.team .nav-pills .nav-item{
    padding-right: 1rem;
}
.slideSection{  
    padding: 6%;
}
.carousel-inner img {
    margin-left: 5px;
    width: 320px;
    height: 240px;
  
}
.secHide h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 1.37;
    color: #13123f;
}
.secHide h3{
    padding-top: 1rem;
    font-family: Mermaid;
    font-size: 19.2px;
    font-weight: bold;
    color: #13123f;
}
.secHide h4{
    font-family: Helvetica;
    font-size: 16px;
    color: #838383;
}
.carousel-indicators{
    display: flex;
    justify-content: left;
    /* left: -8%; */
    /* z-index: 15; */
    right: unset;
    z-index: 0;
    top: 17rem;
    float: left;
}
.carousel-indicators li{
    width: 14px;
    height: 14px;
    background-color: #21204b;
    border-radius: 50%;
}
.fRight{
    float: right;
}
@media screen and (max-width: 900px) {
    .slideSection{
        display: none;
    }
    .fRight{float: none;}
    .secHide{
      display: none;
    }
    .carousel-image{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .firstHead{
        padding-left: 1.2rem;
    }
    .fRight .btn-outline-light{
        width: 100%;
        margin-top: 0.5rem;
    }
}
/* ============================================================================================ */
.secondPage{
    bottom: -120px;
}
@media screen and (min-width:900px){
    .jumbotronAbout{
        height: 330px;
    }
    .jumbotronAboutUs{
        height: 300px;
    }
    .secondPage .card{
        width: 235px;
    }
    .secondPage .cardDr{
        width: 100%;
        height: 250px !important;
    }
}
.secondPage .card{
    margin: 0.5rem;
    height: 317px;
    padding: 1rem;
    border-radius: 5.5px;
    box-shadow: 0 8px 38px 7px rgba(0, 0, 0, 0.07), 0 9px 12px -5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.secondPage .card:hover{
    background-color: #eee;
}
.secondPage .cardDr{
    margin-top: 3rem;
     /* overflow: auto; */
}
.secondPage .card .card-body{
    padding:0.5rem
}
.secondPage .card h5{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #13123f;
}
.secondPage .card p{
    font-family: AvenirNext;
    font-size: 13.7px;
    font-weight: 500;
    text-align: center;
    color: #60607e;
}
.secondPage .card p a{
    color: #101e8b;
    font-family: "Montserrat";
    font-size: 12px;
    opacity: 1;
    font-weight: bold;
}
.jumbotron h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 0.08rem;
    color: #ffffff;
}
.jumbotron h6{
    font-family: Montserrat;
    font-size: 14px;
    opacity: 1;
    font-weight: 600;
    color: #ffffff;
}
.treat{
    font-family: 'Libre Baskerville', serif;
    color: #13123f;
    font-size: 34px;
    padding-left: 1rem;
}
.textTreat{
    color: #13123f;
    opacity: 0.5;  
    padding-left: 1rem; 
    font-size: 14px;
    font-family: Montserrat;
}
.jumbotronFooterAbout{
    background-color: white;
    padding: 3rem 2rem 1rem 2rem;
}
.jumbotronFooterAbout .btn-outline-light{
    font-size: 12px;
    font-weight: bold;
    color: #338cff;
    background-color: #ffffff;
    font-family: Montserrat;
    border: solid 1.4px #3a8fff;
    border-radius: 3px;
    padding: 0.8rem 2rem;
}
.jumbotronFooterAbout .btn-outline-light:hover{
    color: white;
    background-color: #3a8fff;
}
.jumbotronFooterAbout h4{
    color: #27264f;
    font-family: 'Libre Baskerville', serif;
}
.quickLinks a{
    font-family: Montserrat;
    font-size: 14px;
    color: #338cff;
}
@media screen and (min-width:1000px){
    .quickLinks a{
        padding-right: 1rem;
    }
}
.box{
    padding: 0.8rem;
    height: 129px;
}
.box h5{
    font-size: 14px;
    color: #13123f;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.06rem;
}
.box a{
    font-size: 12.3px;
    color: #333259;
    /* font-weight: bold; */
    letter-spacing: 0.05rem;
    font-family: "AvenirNextBold";
}
.textBox{
    font-size: 11.2px;
    color: #13123f;
    opacity: 0.5;
}
.box:hover{
    box-shadow: 0 8px 39px 7px rgba(0, 0, 0, 0.07), 0 10px 13px -6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
/* ======================================================================================= */
.hero {
    width: 100%;
    height: 317px;
    background: url(../images/gynecology.png) top center;
    background-size: cover;
    position: relative;
}
.heroF{
    width: 100%;
    height: 317px;
    background: url(../images/fertility.png) top center;
    background-size: cover;
    position: relative;
}
  
.hero:before ,.heroF:before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero .contentSection , .heroF .contentSection{
    position: absolute;
    bottom: 0;
    top: 5rem;
    /* left: 2rem; */
    /* right: 0; */
}
@media screen and (width:1024px){
    .heroF .contentSection{
        left: 3rem;
    }
    .hero .contentSection{
        left: 3rem;
    }
}
@media screen and (width:1440px){
    .hero .contentSection{
        left: 10rem !important;
    }
    .heroF .contentSection{
        left: 10rem !important;
    }
}
@media screen and (max-width:600px){
    .hero .contentSection{
        left: 1.5rem !important;
    }
    .heroF .contentSection{
        left: 1.5rem !important;
    }
    .secondPage .cardDr{
        height: 560px;
    }
}
.contentSection h2{
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    margin-bottom: 0px;
    opacity: 0.7;
}
.contentSection h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
}
.contentSection h4{
    opacity: 0.8;
    font-size: 14px;
    color: #ffffff;
    font-family: Montserrat;
}
.treatments h6{
    font-size: 12px;
}
.treatments h2{
    font-family: 'Libre Baskerville', serif;
    color: #13123f;
}
.treatments p,.pMe{
    font-size: 15px;
    font-family: Montserrat;
    color: #13123f;
    opacity: 0.7;
}
.pHead{
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
    color: #13123f;
}
.ptext{
    color: #06101c;
    opacity: 0.8;
    font-family: "AvenirNext";
    font-size: 17px;
}
.btn-primary{
    border-radius: 3px;
    background-color: #3a8fff;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat;
}

.accordion .card-body{
    padding-left: 0px;
}
.accordion .card:hover{
    cursor: auto;
    background: none;
}
.AboutText{
    color: #13123f;
    font-size: 12px;
}
.textSmaller{
    font-size: 11px !important;
}
.textDr{
    font-size: 13px !important;
    color: #0d1e34;
}
.aboutTeam{
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
    font-weight: bold;
    color: #1a1945;
}
.number{
    opacity: 0.8;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    color: #06041a;
}

.imgCircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.hTeam{
    color: #333333;
    font-family: Montserrat;
    font-weight: 700;
}
.rate{
    opacity: 0.6;
    font-family: Montserrat;
    font-size: 17.2px;
    font-weight: bold;
    color: #130e49;
}
.flex-wrap img{
    width: 97px;
    height: 97px;
}
.largeNumber{
    font-size: 4.8rem;
    color: #130e49;
    font-weight: bold;
    font-family: Montserrat;
}
@media screen and (max-width:600px){
    .btn-primary{
        display: block;
        width: 100%;
        justify-content: center;
    }
    .accordion h5{
        font-size: 15px;
    }
    .flex-wrap div{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .largeNumber{
        font-size: 3rem;
    }
}
@media screen and (min-width:1400px){
    .carousel-indicators{
        left: 15%;
        top: 21.5rem;
    }
}
@media screen and (min-width:1000px) and (max-width:1260px){
    .carousel-indicators{
        top: 21.5rem;
    }
}
@media screen and (max-width:700px){
    .textMedia a ,.textMedia{
        text-align: left;
        font-size: 9px;
    }
    .btnBook{
        display: block;
        width: 100%;
    }
    .btn-outline-light{
        width: 100%;
        display: block;
        margin-top: 1rem;
    }
    .footer h6{
        font-size: 9px !important;
    }
    .imgWidth{
        position: relative !important;
        left: 0;
        /* max-height: 462px; */
        overflow: hidden;
        top: 0px;
        width: 125%;
        right: 0;
        z-index: -1;
        overflow: hidden;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide-active{
    margin-bottom: 60px;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide .card{
    border: 1px solid white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    transform: scale(0.6);
}
.swiper-slide-next{
    margin-right: 0px;
}
.swiper-slide-next .card{
  transform: scale(0.9);
}
.swiper-slide-next .card h5{
    font-size: 26px;
    font-family: Montserrat;
    color: #13123f;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
}
.induction:hover,.induction2{
    box-shadow: 0 10px 49px 9px rgba(0, 0, 0, 0.07), 0 12px 16px -7px rgba(0, 0, 0, 0.15);
}
.induction h6{
    color: #13123f;
    font-size: 15px;
}
.txtLink{
    cursor: pointer;
}
.gynecology{
    background: url(../images/RectangleA.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 330px;
}
.bdg{
    border-radius: 25px;
}
.form .form-control{
    height: 2.8rem;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 1 !important;
}
.swiper-button-next:after, .swiper-button-prev:after,.swiper-button-before:after, .swiper-button-next:after{
    display: none;
}
@media screen and (max-width:900px){
    /* .swiper-container{
        display: none;
    } */
}
@media screen and (min-width:340px) and (max-width:450px){
    .textMedia a, .textMedia {
        text-align: left;
        font-size: 12px;
    }
}
@media screen and (min-width:500px) and (max-width:800px){
    .textHeader, .textHeader a{
        font-size: 11px;
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    .secondPage .cardDr{
        padding-bottom: 18rem;
    }
}
@media screen and (max-width:780px){
    .gynecology{
        display: none;
    }
}
/* ========================================================= */
.facility .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: white;
    color: #141d5f;
    box-shadow: none;
    font-weight: bold;
    /* font-family: AvenirNext; */
    border-bottom: 4px solid #141d5f;
}
.facility .nav-pills .nav-link{
    padding-right: 1.2rem;
}