@font-face {
    font-family: 'Avenir Next';
    src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
}
@font-face {
    font-family: "AvenirNext";
    font-weight: normal;
    src: url('../fonts/AvenirNextLTPro-MediumCn.otf');
    src: local("AvenirNext"), url("../fonts/fonts/fonts/AvenirNextLTPro-MediumCn.otf") format("otf") ,url("../fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "AvenirNextBold";
    font-weight: bold;
    src: url('../fonts/AvenirNextLTPro-MediumCn.otf');
    src: local("AvenirNextBold"), url("../fonts/fonts/fonts/AvenirNextLTPro-MediumCn.otf") format("otf") ,url("../fonts/AvenirNextLTPro-MediumCn.otf");
}
/* ==================================== Header ==================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.textHeader,.textHeader a{
    font-size: 12px;
    color: #130e49;
    font-family: Montserrat;
    opacity: 0.8;
    font-weight: 500;
}
.navbar-light{
    padding-left: 7rem !important;
    padding-right: 7rem !important;
}

.social_1,.social_2,.social_3{
    font-size: 16px !important;
}

.social_1:hover,.social_2:hover,.social_3:hover{
    opacity: 0.8;
}

.textHeader:hover,.textHeader a:hover{
    opacity: 1;
    cursor: pointer;
}
.hr{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    margin-top: 2px;
    margin-bottom: 0px;
}
.hr2{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.textMedia{
    text-align: right;
}
.media .fa{
    color: gray;
}
@media screen and (max-width:700px){
    .textMedia a ,.textMedia{
        text-align: left;
        font-size: 9px;
    }
    .btnBook{
        display: block;
        width: 100%;
    }
    .btn-outline-light{
        width: 100%;
        display: block;
        margin-top: 1rem;
    }
    .footer h6{
        font-size: 9px !important;
    }
    .imgWidth{
        display: none !important;
    }
    .navbar-light{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
@media screen and (width:1024px){
    .navbar-light{
        padding-left: 2rem !important;
        padding-right: 2rem !important; 
    }
}
@media screen and (width:1440px){
    .navbar-light{
        padding-left: 10.5% !important;
        padding-right: 10.5% !important; 
    }
}
.navbar-collapse{
    padding-left: 0.8rem;
}
.navbar .nav-item .nav-link{
    font-size: 10px;
    color: #130e49;
    opacity: 0.5;
    font-family: Montserrat;
    font-weight: bold;
}
.introduction h2{
    color: #13123f;
    font-size: 32px;
    font-family: Baskervville;
}
.introduction h5{
    color:#338cff;
    font-size: 12px;
}
.introduction h6{
    color: rgba(87, 76, 87, 0.667);
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
}
.btnBook{
    background-color: #338cff;
    color: white;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
    font-family: Montserrat;
}
.btnBook:hover{
    border: 1px solid #130e49;
    background-color: white;
    color: #130e49;
}
.media p{
    font-size: 12px;
    font-family: Montserrat;
    color: #13123f;
    opacity: 0.5;
}
@media screen and (min-width:800px){

    .card1{
        border-left: 0;
    }
    .card2{
        border-right: 0;
    }
}
.fertility h2{
    font-size: 33px;
    color: #13123f;
    font-weight: 500;
    line-height: 1.43;
    font-family: LibreBaskerville;
}
.textPage{
    font-size: 13px;
    letter-spacing: 0.4px;
    opacity: 0.6;
    font-family: Montserrat;
    color: #13123f;
}
.textPageSmall{
    font-size: 11px;
    /* letter-spacing: 0.4px; */
    opacity: 0.8;
    font-family: Montserrat;
    color: #13123f;
}
.vl {
    margin-top: 15px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
    justify-content: center;
    border-left: 1px solid rgb(207, 196, 196);
    height: 70%;
    min-height: 70%;
}
.btn-outline-light{
    font-size: 12px;
    font-weight: bold;
    font-family: Montserrat;
    border: solid 1.4px #ffffff;
    border-radius: 3px;
    padding: 0.8rem 2rem;
}
.btn-outline-light:hover{
    color: #338cff;
    background-color: #ffffff
}
.card:hover {
    background-color: #eee;
    cursor: pointer;
    /* color: white; */
}
.card{
    border-radius: 6px;
}
.card-title{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #13123f;
}
.jumbotron{
    background-color: #338cff;
}
.jumbotron h4{
    font-family: LibreBaskerville;
    font-size: 26px;
}
.jumbotron p{
    font-family: Montserrat;
    opacity: 0.7;
}
.contentText h4{
    font-family: LibreBaskerville;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.86;
    text-align: center;
    color: #13123f;
}
.footer h6{
    font-size: 11px;
    padding-top: 2rem;
    padding-bottom: 6px;
    font-weight: bold;
    color: #130e49;
}
.footer p {
    margin: 5px;
}
.footer p a{
    font-size: 12px;
    opacity: 0.6;
    font-weight: bold;
    color: #130e49;
}
.imgWidth{
    position: absolute;
    left: -145px;
    max-height: 462px;
    overflow: hidden;
    top: -18px;
    width: 122.5%;
    right: 0;
    z-index: -1;
    overflow: hidden;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    border-radius: 4px;
    box-shadow: 0 10px 49px 9px rgba(0, 0, 0, 0.07), 0 12px 16px -7px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.slideSection{  
    padding: 6%;
}
.carousel-inner img {
    margin-left: 5px;
    width: 320px;
    height: 240px;
  
}
.secHide h2{
    font-family: LibreBaskerville;
    font-size: 28px;
    line-height: 1.37;
    color: #13123f;
}
.secHide h3{
    padding-top: 1rem;
    font-family: Mermaid;
    font-size: 19.2px;
    font-weight: bold;
    color: #13123f;
}
.secHide h4{
    font-family: Helvetica;
    font-size: 16px;
    color: #838383;
}
.carousel-indicators{
    left: -8%;
    z-index: 15;
    right: unset;
    top: 17rem;
    float: left;
}
.carousel-indicators li{
    width: 14px;
    height: 14px;
    background-color: #21204b;
    border-radius: 50%;
}
.fRight{
    float: right;
}
@media screen and (max-width: 900px) {
    .slideSection{
        display: none;
    }
    .fRight{float: none;}
    .secHide{
      display: none;
    }
    .carousel-image{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .firstHead{
        padding-left: 1.2rem;
    }
}
/* ============================================================================================ */
.secondPage{
    bottom: -120px;
}
@media screen and (min-width:900px){
    .jumbotronAbout{
        height: 330px;
    }
    .secondPage .card{
        width: 235px;
    }
}
.secondPage .card{
    margin: 0.5rem;
    height: 317px;
    padding: 1rem;
    border-radius: 5.5px;
    box-shadow: 0 8px 38px 7px rgba(0, 0, 0, 0.07), 0 9px 12px -5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.secondPage .card .card-body{
    padding:0.5rem
}
.secondPage .card h5{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #13123f;
}
.secondPage .card p{
    font-family: AvenirNext;
    font-size: 13.7px;
    font-weight: 500;
    text-align: center;
    color: #60607e;
}
.secondPage .card p a{
    color: #101e8b;
    font-family: "Montserrat";
    font-size: 12px;
    opacity: 1;
    font-weight: bold;
}
.jumbotron h3{
    font-family: LibreBaskerville;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 0.08rem;
    color: #ffffff;
}
.jumbotron h6{
    font-family: Montserrat;
    font-size: 14px;
    opacity: 1;
    font-weight: 600;
    color: #ffffff;
}
.treat{
    font-family: LibreBaskerville;
    color: #13123f;
    font-size: 34px;
    padding-left: 1rem;
}
.textTreat{
    color: #13123f;
    opacity: 0.5;  
    padding-left: 1rem; 
    font-size: 14px;
    font-family: Montserrat;
}
.jumbotronFooterAbout{
    background-color: white;
}
.jumbotronFooterAbout .btn-outline-light{
    font-size: 12px;
    font-weight: bold;
    color: #338cff;
    background-color: #ffffff;
    font-family: Montserrat;
    border: solid 1.4px #3a8fff;
    border-radius: 3px;
    padding: 0.8rem 2rem;
}
.jumbotronFooterAbout .btn-outline-light:hover{
    color: white;
    background-color: #3a8fff;
}
.jumbotronFooterAbout h4{
    color: #27264f;
    font-family: LibreBaskerville;
}
.quickLinks{
    font-family: Montserrat;
    font-size: 15px;
}
.box{
    padding: 0.8rem;
    height: 129px;
}
.box h5{
    font-size: 16px;
    font-family: "AvenirNextBold";
    color: #13123f;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.06rem;
}
.box a{
    font-size: 12.3px;
    color: #333259;
    /* font-weight: bold; */
    letter-spacing: 0.05rem;
    font-family: "AvenirNextBold";
}
.textBox{
    font-size: 11.2px;
    color: #13123f;
    opacity: 0.5;
}
.box:hover{
    box-shadow: 0 8px 39px 7px rgba(0, 0, 0, 0.07), 0 10px 13px -6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}